input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number {
  width: 3rem;
  height: 3rem;
  background-color: antiquewhite;
  border-radius: 50%;
  position: relative;
  border: none;
  cursor: pointer;
  text-align: center;
}

.number:focus-visible {
  border: 1px solid black;
}
